﻿@model Warendatenbank.Models.Rechnungen

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Rechnungen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RechnungDatum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RechnungDatum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KundeNr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KundeNr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AuftragNr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AuftragNr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SachbearbeiterNr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SachbearbeiterNr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Warenwert)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Warenwert)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MwstProzentsatz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MwstProzentsatz)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RechnungBetrag)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RechnungBetrag)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatumFaellig)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumFaellig)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatumMahnung1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumMahnung1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatumMahnung2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumMahnung2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ZahlbetragGesamt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ZahlbetragGesamt)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Zahldatum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Zahldatum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Bezahlt)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bezahlt)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="RechnungNr" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
