﻿@model Warendatenbank.Models.Rechnungen

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Rechnungen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RechnungNr" />
            <div class="form-group">
                <label asp-for="RechnungDatum" class="control-label"></label>
                <input asp-for="RechnungDatum" class="form-control" />
                <span asp-validation-for="RechnungDatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KundeNr" class="control-label"></label>
                <input asp-for="KundeNr" class="form-control" />
                <span asp-validation-for="KundeNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuftragNr" class="control-label"></label>
                <input asp-for="AuftragNr" class="form-control" />
                <span asp-validation-for="AuftragNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SachbearbeiterNr" class="control-label"></label>
                <input asp-for="SachbearbeiterNr" class="form-control" />
                <span asp-validation-for="SachbearbeiterNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warenwert" class="control-label"></label>
                <input asp-for="Warenwert" class="form-control" />
                <span asp-validation-for="Warenwert" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MwstProzentsatz" class="control-label"></label>
                <input asp-for="MwstProzentsatz" class="form-control" />
                <span asp-validation-for="MwstProzentsatz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RechnungBetrag" class="control-label"></label>
                <input asp-for="RechnungBetrag" class="form-control" />
                <span asp-validation-for="RechnungBetrag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumFaellig" class="control-label"></label>
                <input asp-for="DatumFaellig" class="form-control" />
                <span asp-validation-for="DatumFaellig" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumMahnung1" class="control-label"></label>
                <input asp-for="DatumMahnung1" class="form-control" />
                <span asp-validation-for="DatumMahnung1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumMahnung2" class="control-label"></label>
                <input asp-for="DatumMahnung2" class="form-control" />
                <span asp-validation-for="DatumMahnung2" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ZahlbetragGesamt" class="control-label"></label>
                <input asp-for="ZahlbetragGesamt" class="form-control" />
                <span asp-validation-for="ZahlbetragGesamt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Zahldatum" class="control-label"></label>
                <input asp-for="Zahldatum" class="form-control" />
                <span asp-validation-for="Zahldatum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bezahlt" class="control-label"></label>
                <input asp-for="Bezahlt" class="form-control" />
                <span asp-validation-for="Bezahlt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
