﻿@model IEnumerable<Warendatenbank.Models.Rechnungen>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RechnungDatum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KundeNr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AuftragNr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SachbearbeiterNr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Warenwert)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MwstProzentsatz)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RechnungBetrag)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatumFaellig)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatumMahnung1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DatumMahnung2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ZahlbetragGesamt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Zahldatum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Bezahlt)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RechnungDatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KundeNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AuftragNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SachbearbeiterNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Warenwert)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MwstProzentsatz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RechnungBetrag)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumFaellig)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumMahnung1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumMahnung2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZahlbetragGesamt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Zahldatum)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bezahlt)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RechnungNr">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RechnungNr">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RechnungNr">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
