﻿@model IEnumerable<Warendatenbank.Models.Artikel>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Bezeichnung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Warengruppe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mengeneinheit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Verkaufspreis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Einkaufspreis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Lieferzeit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestandLager)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BestandMinimum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jahresumsatz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vorjahresumsatz)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Bezeichnung)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Warengruppe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mengeneinheit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Verkaufspreis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Einkaufspreis)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Lieferzeit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BestandLager)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BestandMinimum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jahresumsatz)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vorjahresumsatz)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ArtikelNr">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ArtikelNr">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ArtikelNr">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

