﻿@model Warendatenbank.Models.Artikel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Artikel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ArtikelNr" class="control-label"></label>
                <input asp-for="ArtikelNr" class="form-control" />
                <span asp-validation-for="ArtikelNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bezeichnung" class="control-label"></label>
                <input asp-for="Bezeichnung" class="form-control" />
                <span asp-validation-for="Bezeichnung" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Warengruppe" class="control-label"></label>
                <input asp-for="Warengruppe" class="form-control" />
                <span asp-validation-for="Warengruppe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mengeneinheit" class="control-label"></label>
                <input asp-for="Mengeneinheit" class="form-control" />
                <span asp-validation-for="Mengeneinheit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Verkaufspreis" class="control-label"></label>
                <input asp-for="Verkaufspreis" class="form-control" />
                <span asp-validation-for="Verkaufspreis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Einkaufspreis" class="control-label"></label>
                <input asp-for="Einkaufspreis" class="form-control" />
                <span asp-validation-for="Einkaufspreis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lieferzeit" class="control-label"></label>
                <input asp-for="Lieferzeit" class="form-control" />
                <span asp-validation-for="Lieferzeit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BestandLager" class="control-label"></label>
                <input asp-for="BestandLager" class="form-control" />
                <span asp-validation-for="BestandLager" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BestandMinimum" class="control-label"></label>
                <input asp-for="BestandMinimum" class="form-control" />
                <span asp-validation-for="BestandMinimum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jahresumsatz" class="control-label"></label>
                <input asp-for="Jahresumsatz" class="form-control" />
                <span asp-validation-for="Jahresumsatz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vorjahresumsatz" class="control-label"></label>
                <input asp-for="Vorjahresumsatz" class="form-control" />
                <span asp-validation-for="Vorjahresumsatz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
