﻿@model Warendatenbank.Models.Artikel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Artikel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Bezeichnung)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Bezeichnung)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Warengruppe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Warengruppe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mengeneinheit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mengeneinheit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Verkaufspreis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Verkaufspreis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Einkaufspreis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Einkaufspreis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Lieferzeit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Lieferzeit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BestandLager)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BestandLager)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BestandMinimum)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BestandMinimum)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Jahresumsatz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jahresumsatz)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vorjahresumsatz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vorjahresumsatz)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ArtikelNr" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
