﻿

@{
    ViewData["Title"] = "Index";
}

<h2>Artikeln</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Artikels" asp-action="SearchArtikel" data-ajax="true" data-ajax-update="#ArtikelShow">
    @Html.TextBox("SearchArtikel")
    <input type="submit" value="Artikel suchen" />
    <br />
    <br />

</form>

<form asp-controller="Artikels" asp-action="ArtikelCategories" data-ajax="true" data-ajax-update="#ArtikelShow">

    @Html.DropDownList("ArtikelListe")
    <input type="submit" value="Anzeigen" />

</form>
<br /><br />

<form asp-controller="Artikels" asp-action="Umsatzstärksten" data-ajax="true" data-ajax-update="#ArtikelShow">

    <input type="button" value="Die fünf umsatzstärksten Artikel Anzeigen" onclick="location.href='@Url.Action("Umsatzstärksten", "Artikels")'" />
    <br />
    <br />
    @Html.ActionLink("Die fünf umsatzstärksten Artikel Anzeigen", "Umsatzstärksten")
</form>



<form asp-controller="Artikels" asp-action="AuswahlListe" data-ajax="true" data-ajax-update="#ArtikelShow">

    @Html.DropDownList("ArtikelListe2")
    <input type="submit" value="Anzeigen" />

</form>


<div id="ArtikelShow"></div>