﻿@model Warendatenbank.Models.Auftragspositionen

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Auftragspositionen</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AuftragNr" class="control-label"></label>
                <input asp-for="AuftragNr" class="form-control" />
                <span asp-validation-for="AuftragNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionNr" class="control-label"></label>
                <input asp-for="PositionNr" class="form-control" />
                <span asp-validation-for="PositionNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PositionAktiv" class="control-label"></label>
                <input asp-for="PositionAktiv" class="form-control" />
                <span asp-validation-for="PositionAktiv" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArtikelNr" class="control-label"></label>
                <input asp-for="ArtikelNr" class="form-control" />
                <span asp-validation-for="ArtikelNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Verkaufsmenge" class="control-label"></label>
                <input asp-for="Verkaufsmenge" class="form-control" />
                <span asp-validation-for="Verkaufsmenge" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Verkaufspreis" class="control-label"></label>
                <input asp-for="Verkaufspreis" class="form-control" />
                <span asp-validation-for="Verkaufspreis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Termin" class="control-label"></label>
                <input asp-for="Termin" class="form-control" />
                <span asp-validation-for="Termin" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Offen" class="control-label"></label>
                <input asp-for="Offen" class="form-control" />
                <span asp-validation-for="Offen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Geliefert" class="control-label"></label>
                <input asp-for="Geliefert" class="form-control" />
                <span asp-validation-for="Geliefert" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Berechnet" class="control-label"></label>
                <input asp-for="Berechnet" class="form-control" />
                <span asp-validation-for="Berechnet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
