﻿@model Warendatenbank.Models.Auftragspositionen

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Auftragspositionen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PositionAktiv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PositionAktiv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArtikelNr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArtikelNr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Verkaufsmenge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Verkaufsmenge)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Verkaufspreis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Verkaufspreis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Termin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Termin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Offen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Offen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Geliefert)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Geliefert)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Berechnet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Berechnet)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="AuftragNr" />
        <input type="hidden" asp-for="PositionNr" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
