﻿@model Warendatenbank.Models.Auftragspositionen

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Auftragspositionen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PositionAktiv)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PositionAktiv)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ArtikelNr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ArtikelNr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Verkaufsmenge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Verkaufsmenge)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Verkaufspreis)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Verkaufspreis)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Termin)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Termin)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Offen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Offen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Geliefert)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Geliefert)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Berechnet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Berechnet)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
