﻿@model IEnumerable<Warendatenbank.Models.Auftragspositionen>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.PositionAktiv)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ArtikelNr)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Verkaufsmenge)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Verkaufspreis)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Termin)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Offen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Geliefert)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Berechnet)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PositionAktiv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArtikelNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verkaufsmenge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Verkaufspreis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Termin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geliefert)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Berechnet)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
