﻿@model IEnumerable<Warendatenbank.Models.Kunden>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Strasse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlzStrasse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Land)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ort)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kundengruppe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Branche)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VertreterNr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GesperrtKz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatumKreditauskunft)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Kreditlimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SaldoOffeneRechnungen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jahresumsatz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vorjahresumsatz)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Strasse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlzStrasse)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Land)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ort)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kundengruppe)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Branche)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VertreterNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GesperrtKz)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatumKreditauskunft)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Kreditlimit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaldoOffeneRechnungen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Jahresumsatz)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vorjahresumsatz)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.KundeNr">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.KundeNr">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.KundeNr">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

