﻿@model Warendatenbank.Models.Kunden

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Kunden</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Strasse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Strasse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PlzStrasse)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PlzStrasse)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Land)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Land)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ort)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ort)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kundengruppe)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kundengruppe)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Branche)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Branche)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VertreterNr)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VertreterNr)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GesperrtKz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GesperrtKz)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DatumKreditauskunft)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DatumKreditauskunft)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Kreditlimit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Kreditlimit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SaldoOffeneRechnungen)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SaldoOffeneRechnungen)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Jahresumsatz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Jahresumsatz)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vorjahresumsatz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vorjahresumsatz)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="KundeNr" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
