﻿@model Warendatenbank.Models.Kunden

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Kunden</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="KundeNr" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Strasse" class="control-label"></label>
                <input asp-for="Strasse" class="form-control" />
                <span asp-validation-for="Strasse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlzStrasse" class="control-label"></label>
                <input asp-for="PlzStrasse" class="form-control" />
                <span asp-validation-for="PlzStrasse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Land" class="control-label"></label>
                <input asp-for="Land" class="form-control" />
                <span asp-validation-for="Land" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ort" class="control-label"></label>
                <input asp-for="Ort" class="form-control" />
                <span asp-validation-for="Ort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kundengruppe" class="control-label"></label>
                <input asp-for="Kundengruppe" class="form-control" />
                <span asp-validation-for="Kundengruppe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Branche" class="control-label"></label>
                <input asp-for="Branche" class="form-control" />
                <span asp-validation-for="Branche" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VertreterNr" class="control-label"></label>
                <input asp-for="VertreterNr" class="form-control" />
                <span asp-validation-for="VertreterNr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GesperrtKz" class="control-label"></label>
                <input asp-for="GesperrtKz" class="form-control" />
                <span asp-validation-for="GesperrtKz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumKreditauskunft" class="control-label"></label>
                <input asp-for="DatumKreditauskunft" class="form-control" />
                <span asp-validation-for="DatumKreditauskunft" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Kreditlimit" class="control-label"></label>
                <input asp-for="Kreditlimit" class="form-control" />
                <span asp-validation-for="Kreditlimit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SaldoOffeneRechnungen" class="control-label"></label>
                <input asp-for="SaldoOffeneRechnungen" class="form-control" />
                <span asp-validation-for="SaldoOffeneRechnungen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Jahresumsatz" class="control-label"></label>
                <input asp-for="Jahresumsatz" class="form-control" />
                <span asp-validation-for="Jahresumsatz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vorjahresumsatz" class="control-label"></label>
                <input asp-for="Vorjahresumsatz" class="form-control" />
                <span asp-validation-for="Vorjahresumsatz" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
