﻿
@{
    ViewData["Title"] = "Index";
}

<h2>Kunden</h2>

<form asp-controller="Kundens" asp-action="KundenSearch"  data-ajax="true" data-ajax-update="#KundenList">
 @Html.TextBox("SearchKunden")
    <input type="submit" value="Kunden Suchen" />
</form>

<div id="KundenList"></div>

